openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW CollabNews Web API'
  description: 'Web Resources Specification (A7) for CollabNews'

servers:
  - url: https://lbaw2394.lbaw.fe.up.pt
    description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw2394/-/wikis/eap

tags:
  - name: 'M01: Authentication'
  - name: 'M02: Users'
  - name: 'M03: Admins and Static Pages'
  - name: 'M04: Comments'
  - name: 'M05: Articles'
  - name: 'M06: Search'
  - name: 'M07: Topics'

paths:
  ##################################################################
  ######################### AUTHENTICATION #########################
  ##################################################################

  /login:
    get:
      tags:
        - 'M01: Authentication'
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Login to the system. Access: VIS'
      responses:
        '200':
          description: 'Ok. Show Log-in UI'
    post:
      tags:
        - 'M01: Authentication'
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: VIS'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          content:
            text/html:
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /logout:
    post:
      tags:
        - 'M01: Authentication'
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, ADM'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          content:
            text/html:
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:
    get:
      tags:
        - 'M01: Authentication'
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: VIS'
      responses:
        '200':
          description: 'Ok. Show Sign-Up UI'
    post:
      tags:
        - 'M01: Authentication'
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: VIS'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - email
                - name
                - picture
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          content:
            text/html:
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /users/{id}:
    get:
      tags:
        - 'M01: Authentication'
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: USR'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show User Profile UI'

  /send-email:
    post:
      tags:
        - 'M01: Authentication'
      operationId: R107
      summary: 'R107: Send Email'
      description: 'Send an email. Access: USR, ADM'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                email_destination:
                  type: string
              required:
                - email
                - name
                - email_destination
      responses:
        '200':
          description: 'Email sent successfully'

  /recover-password:
    post:
      tags:
        - 'M01: Authentication'
      operationId: R108
      summary: 'R108: Recover Password'
      description: 'Recover a users password'
      responses:
        '200':
          description: 'Password recovery initiated successfully'

  ##################################################################
  ############################# USERS ##############################
  ##################################################################

  /profile:
    get:
      tags:
        - 'M02: Users'
      operationId: R201
      summary: 'R201: View User Profile'
      description: 'View user profile. Access: USR'
      parameters:
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show User Profile UI'
    
  /edit-profile:
    put:
      tags:
        - 'M02: Users'
      operationId: R202
      summary: 'R202: Edit User Profile'
      description: 'Edit user profile. Access: USR'
      parameters:
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                bio:
                  type: string
              required:
                - user_id
                - name
                - email
      responses:
        '200':
          description: 'User profile updated successfully'
    
  /delete-profile:
    delete:
      tags:
        - 'M02: Users'
      operationId: R203
      summary: 'R203: Delete User Profile'
      description: 'Delete user profile. Access: USR'
      parameters:
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: 'User profile deleted successfully'
    
  /delete:
    delete:
      tags:
        - 'M02: Users'
      operationId: R204
      summary: 'R204: Delete User'
      description: 'Delete a user. Access: ADM'
      parameters:
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: 'User deleted successfully'
    
  /remove-follower:
    delete:
      tags:
        - 'M02: Users'
      operationId: R205
      summary: 'R205: Remove Follower'
      description: 'Remove a follower from the users list. Access: USR'
      parameters:
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
        - in: query
          name: follower_id
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: 'Follower removed successfully'
    
  /follow:
    post:
      tags:
        - 'M02: Users'
      operationId: R206
      summary: 'R206: Follow User'
      description: 'Follow another user. Access: USR'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                follow_id:
                  type: integer
              required:
                - user_id
                - follow_id
      responses:
        '201':
          description: 'User followed successfully'
    
  /unfollow:
    delete:
      tags:
        - 'M02: Users'
      operationId: R207
      summary: 'R207: Unfollow User'
      description: 'Unfollow a user. Access: USR'
      parameters:
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
        - in: query
          name: unfollow_id
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: 'User unfollowed successfully'
    
  /notifications:
    get:
      tags:
        - 'M02: Users'
      operationId: R208
      summary: 'R208: Get Notifications'
      description: 'Get user notifications. Access: USR'
      parameters:
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Notifications retrieved successfully'
    
  /notification-delete:
    delete:
      tags:
        - 'M02: Users'
      operationId: R209
      summary: 'R209: Delete Notification'
      description: 'Delete a notification. Access: USR'
      parameters:
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
        - in: query
          name: notification_id
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: 'Notification deleted successfully'
    
  /notification-update:
    put:
      tags:
        - 'M02: Users'
      operationId: R210
      summary: 'R210: Update Notification'
      description: 'Update a notification. Access: USR'
      parameters:
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
        - in: query
          name: notification_id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notification_id:
                  type: integer
                status:
                  type: string
              required:
                - notification_id
                - status
      responses:
        '200':
          description: 'Notification updated successfully'

  ##################################################################
  #################### ADMINS AND STATIC PAGES #####################
  ##################################################################

  /admin-page:
    get:
      tags:
        - 'M03: Admins and Static Pages'
      operationId: R301
      summary: 'R301: Admin Page'
      description: 'Get admin page. Access: ADM'
      parameters:
        - in: query
          name: admin_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Admin page retrieved successfully'
    
  /user-ban:
    post:
      tags:
        - 'M03: Admins and Static Pages'
      operationId: R302
      summary: 'R302: Ban User'
      description: 'Ban a user. Access: ADM'
      parameters:
        - in: query
          name: admin_id
          schema:
            type: integer
          required: true
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
      responses:
        '201':
          description: 'User banned successfully'
    
  /user-unban:
    post:
      tags:
        - 'M03: Admins and Static Pages'
      operationId: R303
      summary: 'R303: Unban User'
      description: 'Unban a user. Access: ADM'
      parameters:
        - in: query
          name: admin_id
          schema:
            type: integer
          required: true
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
      responses:
        '201':
          description: 'User unbanned successfully'
    
  /about-page:
    get:
      tags:
        - 'M03: Admins and Static Pages'
      operationId: R304
      summary: 'R304: About Page'
      description: 'Get the about page. Access: VIS'
      responses:
        '200':
          description: 'About page retrieved successfully'
    
  /faq-page:
    get:
      tags:
        - 'M03: Admins and Static Pages'
      operationId: R305
      summary: 'R305: FAQ Page'
      description: 'Get the FAQ page. Access: VIS'
      responses:
        '200':
          description: 'FAQ page retrieved successfully'
    
  /media:
    get:
      tags:
        - 'M03: Admins and Static Pages'
      operationId: R306
      summary: 'R306: Media'
      description: 'Get media resources. Access: VIS'
      responses:
        '200':
          description: 'Media resources retrieved successfully'

  ##################################################################
  ############################ COMMENTS ############################
  ##################################################################

  /create-comment:
    post:
      tags:
        - 'M04: Comments'
      operationId: R401
      summary: 'R401: Create Comment'
      description: 'Create a new comment. Access: USR'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                article_id:
                  type: integer
                text:
                  type: string
              required:
                - user_id
                - article_id
                - text
      responses:
        '201':
          description: 'Comment created successfully'

  /delete-comment:
    delete:
      tags:
        - 'M04: Comments'
      operationId: R402
      summary: 'R402: Delete Comment'
      description: 'Delete a comment. Access: USR'
      parameters:
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
        - in: query
          name: comment_id
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: 'Comment deleted successfully'

  /edit-comment:
    put:
      tags:
        - 'M04: Comments'
      operationId: R403
      summary: 'R403: Edit Comment'
      description: 'Edit a comment. Access: USR'
      parameters:
        - in: query
          name: user_id
          schema:
            type: integer
          required: true
        - in: query
          name: comment_id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
              required:
                - text
      responses:
        '200':
          description: 'Comment edited successfully'

  /like-comment:
    post:
      tags:
        - 'M04: Comments'
      operationId: R404
      summary: 'R404: Like Comment'
      description: 'Like a comment. Access: USR'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                comment_id:
                  type: integer
              required:
                - user_id
                - comment_id
      responses:
        '201':
          description: 'Comment liked successfully'

  /dislike-comment:
    post:
      tags:
        - 'M04: Comments'
      operationId: R405
      summary: 'R405: Dislike Comment'
      description: 'Dislike a comment. Access: USR'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                comment_id:
                  type: integer
              required:
                - user_id
                - comment_id
      responses:
        '201':
          description: 'Comment disliked successfully'

  ##################################################################
  ############################ ARTICLES ############################
  ##################################################################

  /create-article:
    post:
      tags:
        - 'M05: Articles'
      operationId: R501
      summary: 'R501: Create Article'
      description: 'Create a new article. Access: USR'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                author:
                  type: string
              required:
                - title
                - content
                - author
      responses:
        '201':
          description: 'Article created successfully'

  /delete-article:
    delete:
      tags:
        - 'M05: Articles'
      operationId: R502
      summary: 'R502: Delete Article'
      description: 'Delete an article. Access: USR'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: 'Article deleted successfully'

  /edit-article:
    put:
      tags:
        - 'M05: Articles'
      operationId: R503
      summary: 'R503: Edit Article'
      description: 'Edit an article. Access: USR'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
              required:
                - title
                - content
      responses:
        '200':
          description: 'Article edited successfully'

  /article-like:
    post:
      tags:
        - 'M05: Articles'
      operationId: R504
      summary: 'R504: Like Article'
      description: 'Like an article. Access: USR'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '201':
          description: 'Article liked successfully'

  /article-dislike:
    post:
      tags:
        - 'M05: Articles'
      operationId: R505
      summary: 'R505: Dislike Article'
      description: 'Dislike an article. Access: USR'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '201':
          description: 'Article disliked successfully'
          
  ##################################################################
  ############################# SEARCH #############################
  ##################################################################

  /search-user:
    get:
      tags:
        - 'M06: Search'
      operationId: R601
      summary: 'R601: Search User'
      description: 'Search for a user. Access: USR'
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'User search successful'

  /search-article:
    get:
      tags:
        - 'M06: Search'
      operationId: R602
      summary: 'R602: Search Article'
      description: 'Search for an article. Access: USR'
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Article search successful'
          
  ##################################################################
  ############################# TOPICS ##############################
  ##################################################################

  /create-topic:
    post:
      tags:
        - 'M07: Topics'
      operationId: R701
      summary: 'R701: Create Topic'
      description: 'Create a new topic. Access: ADM'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      responses:
        '201':
          description: 'Topic created successfully'

  /delete-topic:
    delete:
      tags:
        - 'M07: Topics'
      operationId: R702
      summary: 'R702: Delete Topic'
      description: 'Delete a topic. Access: ADM'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: 'Topic deleted successfully'