#adminpage {
    padding: 1em;
    color: white;
}

.admin-container {
    display: grid;
    grid-template-columns: 15% 85%; /* Adjust the percentage based on your preference */
}

.admin-sidebar {
    display: flex;
    background-color: #00003e;
    border: 0.5px solid #00003e;
    border-radius: 10px;
    justify-content: center;
    font-size: 1.3em;
}

.admin-sidebar ul {
    list-style-type: none;
    padding: 2em;
}

.admin-sidebar a {
    display: flex;
    color: #F0F3F5;
    transition: color 0.3s, transform 0.3s;
    cursor: pointer;
}

.admin-sidebar a:hover {
    color: white;
    transform: scale(1.3);
}

.admin-dashboard {
    margin-left: 1em;
    background-color: rgba(255,255,255,.7);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    color:#00003e;
}

.admin-dashboard-user {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 1em;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F3F5;
    color: #00003e;
}

.admin-dashboard-user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-dashboard-user-photo {
    border-radius: 10px;
    width: 50px;  
    height: auto;
    margin-right: 2em;
}


.search-box-admin {
    display: flex;
    border-radius: 1em;
    width: 50%;
    background-color: #F0F3F5;
    align-items: center; /* Add this line to vertically align items */
}

.search-box-admin input { 
    border: 1px solid #5a86ba; 
    border-radius: 1em;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 0px;
    width: 100%;
}

.search-input-admin{
    margin-bottom: 0px;
}

.search-button-admin {
    color: #F0F3F5;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
    margin-left: 0.5em;
}

.search-button-admin:hover {
    color: white;
    background-color: #5a86ba
}

.form-admin {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
