body {
    color: #5a86ba;
    background-image: url('../images/bg3.jpg');
    background-size: cover;
    height: 100vh; 
  }
  main > header {
    display: flex;
    align-items: center;
    
  }
  main > header h1 {
    margin: 0;
  }
  main > header a.button {
    margin: 1em;
    justify-self: center;
  }
  main > header span {
    margin: 1em;
    justify-self: center;
  }

  #header-logo {
    width: 200px;
  }
  
  #content label {
    font-weight: normal;
    color: white;
  }
  #content > form {
    margin: 10% auto;
    padding: 1em;
    max-width: 30em;
    border: 1px solid #00003e;
    border-radius: 10px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.7)
  }
  #content > form .error {
    font-weight: bold;
    color: #ff3333;
  }
  #content > form .success {
    font-weight: bold;
    color: #71f110;
  }
  #content > form input {
    background-color: white;
    border-radius: 15px;
  }

 #forms  {
    margin: 0 auto;
    padding: 1em;
    max-width: 40em;
    border: 1px solid #00003e;
    border-radius: 10px;
  }

#form-logo {
display: flex;
justify-content: center;
align-items: center;
}
  
  /**
   * Override milligram colors
   * Some styles might be missing
   **/
  button {
    background-color: #00003e;
    border-color: #00003e;
  }
  a.button {
    background-color: #00003e;
    border-color: #00003e;
  }
  a.button.button-outline {
    color: #00003e;
  }
  a.button.button-outline:hover {
    color: white;
    background-color: #00003e;
  }

  a {
    color: #F0F3F5;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border-color: #00003e;
  }

/**
 * Override milligram colors
 * Some styles might be missing
 **/
button {
  background-color: #5a86ba;
  border-color: #5a86ba;
}
a.button {
  background-color: #5a86ba;
  border-color: #5a86ba;
}
a.button.button-outline {
  color: #5a86ba;
}
a {
  color: #F0F3F5;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #5a86ba;
}

#content #homepage {
  margin-left: 300px;
}
