/* Default styles for larger screens (PCs) */

#content{
    min-height: 86vh;
}

#articlebox {
    margin-left: 20em;
}

.article-box {
    display: fixed;
    flex-direction: column;
    border-radius: 1em;
    border: 0.1em solid #F0F3F5;
    margin: 2em;
    width: 60%;
    background-color: #F0F3F5;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.article-image img {
    max-width: 100%;
    height: auto;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.article-content {
    padding: 2em;
}

.article-content h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3498db;
    margin-bottom: 1em;
}

.article-content p {
    font-size: 1em;
    color: #555;
    margin-bottom: 2em;
}

.button {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    background-color: #F0F3F5;
    color: #fff;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}

.article-box {
    grid-column: span 2;
}

.small-box-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-column-gap: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

/* Additional styles for tablets */
@media screen and (min-width: 600px) {
    .small-box-container {
        grid-template-columns: 1fr 1fr; 
    }
}

/* Additional styles for PCs */
@media screen and (min-width: 768px) {
    .small-box-container {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}

.small-box {
    border: 0.1em solid #ccc;
    border-radius: 1em;
    background-color: #F0F3F5;
    margin-bottom: 2em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.small-box h2 {
    font-size: 2em;
    color: #2980b9;
    margin: 1em;
}

.small-box p {
    font-size: 1em;
    color: #2980b9;
    margin: 1em;
    padding-left: 1em;
}

.small-box:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

.small-button {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
    color: #2980b9;
    border-radius: 1em;
    transition: background-color 0.3s ease;
}

.small-box > .small-button {
    margin: 1em;
    padding: 1em;
}

.boxes-container {
    display: flex;
}

.additional-box-container {
    display: flex;
}

.column {
    flex: 1;
    margin-right: 2em;
    margin-top: 2em;
}

.user-article-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a86ba;
    color: #f0f3f5;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
    width: 10em;
    height: 40px;
    margin-left: 1em;
}

.user-article-button a {
    text-decoration: none;
    color: #f0f3f5;
}

.user-article-button:hover {
    background-color: #5a86ba;
    color: white;
}


.search-box-user {
    display: flex;
    border-radius: 1em;
    width: 50%;
    background-color: #F0F3F5;
    align-items: center; /* Add this line to vertically align items */
}

.search-box-user input { 
    border: 1px solid #5a86ba; 
    border-radius: 1em;
    padding: 0.5em;
    margin-top: 1em;
    width: 100%;
}

.search-input-user{
    margin-bottom: 0px;
}

.search-button-user {
    color: #F0F3F5;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
    margin-left: 0.5em;
}

.search-button-user:hover {
    color: white;
    background-color: #5a86ba
}

.form-user {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}