/* Default styles for larger screens (PCs) */

#content{
    min-height: 86vh;
}

#articlebox {
    margin-left: 20em;
}

.article-box {
    display: fixed;
    flex-direction: column;
    border-radius: 1em;
    border: 0.1em solid #00003e;
    margin: 2em;
    width: 60%;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    background-color: rgba(255,255,255,.7);
    overflow: hidden;
    backdrop-filter: blur(5px);
}


.article-box-big{
    display: fixed;
    flex-direction: column;
    border-radius: 1em;
    border: 0.1em solid #00003e;
    margin: 2em;
    width: 80%;  
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    background-color: rgba(255,255,255,.7);
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.article-image img {
    width: 100%;
    height: auto;
    max-height: 600px;
    display: block;
    
}

.article-content {
    padding: 2em;
}

.article-content h1 {
    font-size: 2em;
    font-weight: bold;
    color: #00003e;
    margin-bottom: 1em;
}

.article-content p {
    font-size: 1em;
    color: #00003e;
    margin-bottom: 2em;
}

.button {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    background-color: #F0F3F5;
    color: #fff;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}

.article-box {
    grid-column: span 2;
}

.small-box-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-column-gap: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

/* Additional styles for tablets */
@media screen and (min-width: 600px) {
    .small-box-container {
        grid-template-columns: 1fr 1fr; 
    }
}

/* Additional styles for PCs */
@media screen and (min-width: 768px) {
    .small-box-container {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}

.small-box {
    border: 0.1em solid #ccc;
    border-radius: 1em;
    background-color: rgba(255,255,255,.7);
    margin-bottom: 2em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    height: 300px;
    width: 83.5%;
}

.small-box h2 {
    font-size: 2em;
    color: #00003e;
    margin: 1em;
}

.small-box p {
    font-size: 1em;
    color: #00003e;
    margin: 1em;
    padding-left: 1em;
}

.small-box:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

.small-button {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    background-color: #00003e;
    color: #fff;
    border-radius: 0.5em;
    width: 10em;
    height: 40px;
    transition: background-color 0.3s ease;
}



.small-box > .small-button {
    margin: 1em;
    padding: 0.5em;
}




.boxes-container {
    display: flex;
    flex-direction: column;
    
}

.additional-box-container {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.column {
    flex: 1;
    margin-right: 2em;
    margin-top: 2em;
}

.user-article-button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #00003e;
    color: #fff;
    border-radius: 0.5em;
    width: 14.5em;
    height: 40px;
    transition: background-color 0.3s ease;
    margin: 1.5em;
}




.user-article-button a {
    text-decoration: none;
    color: #f0f3f5;
}

.user-article-button:hover {
    background-color: #00003e;
    color: white;
}


.search-box-user {
    display: flex;
    border-radius: 1em;
    width: 50%;
    background-color: #F0F3F5;
    align-items: center; /* Add this line to vertically align items */
}

.search-box-user input { 
    border: 1px solid #5a86ba; 
    border-radius: 1em;
    padding: 0.5em;
    margin-top: 1em;
    width: 100%;
}

.search-input-user{
    margin-bottom: 0px;
}

.search-button-user {
    color: #F0F3F5;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
    margin-left: 0.5em;
}

.search-button-user:hover {
    color: white;
    background-color: #00003e;
}

.form-user {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #00003e;
}

#category-filter{
    width: 98%;
    margin: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #5a86ba;
}

#category-filter option{
    padding: 0.5em;
    border-radius: 1em;
    background-color: transparent;
    font-size: 20px;
    border: 1px solid #00003e;

}