.boxes-container {
    display: flex;
    margin-left: 130px; 
}

.article-box {
    width: 60%; 
    padding: 20px; 
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.article-content {
    position: relative;
    overflow: hidden;
}

.share-button {
    background-color: #5a86ba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.share-button:hover {
    background-color: #405c80;
}

.article-image {
    position: relative;
    overflow: hidden;
}

.popular-news-section {
    float: right; 
    width: 25%;
    margin-left: 120px; 
    margin-top: 50px;
}

/* Topics list */

.topic-list li a{
    color: black;
}

.topic-list {
    list-style: none;
    padding: 0;
}

.topic-item {
    position: relative;
}

.topic-image {
    position: relative;
    overflow: hidden;
}

.image-text {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    color: white; 
    font-size: 20px; 
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}


.author-name{
    color: #555;
    text-decoration: underline;
}

.author-name2{
    color: #5a86ba;
    text-decoration: underline;
}


#share{
    background-color: #00003e;
}

#share:hover{
    background-color: #00003e;
}



#like{
    background-color: #00003e;
}

#like:hover{
    background-color: #00003e;
}

#dislike{
    background-color: #00003e;
}

#dislike:hover{
    background-color: #00003e;
}

#like.liked {
    color: #5a86ba; /* Change this to the color you want when liked */
}

#dislike.disliked {
    color: #5a86ba; /* Change this to the color you want when disliked */
}