#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #f0f3f5;
}

#footer-text p {
    margin-left: 2em;
    color: #5a86ba;
    font-size: 1em;
}

#footer-text a {
    background-color: #F0F3F5;
    border: none;
    text-decoration: underline;
    color: #5a86ba;
    font-size: 1em;
}

#footer #form-logo { 
    margin-top: auto;
    margin-left: 10px;
}

#footer-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #f0f3f5;
}
