#profile h1 {
    margin-bottom: 5%;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 86vh;
}

#profile .profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #00003e;
}

#profile p {
    font-size: 25px;
}

#profile .profile-pic {
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 3%;
}

#profile .profile-pic img {
 width: 100%;
 height: auto;
 border-radius: 10px;
}

.profile-box {
    margin: 20px;
    border-radius: 1em;
    padding: 50px;
    width: 30%;
    background-color: rgba(255,255,255,.7);
    backdrop-filter: blur(5px);
    color: #00003e;
}

.profile-box h1 {
    color: #00003e;
}
