#profile h1 {
    margin-bottom: 5%;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 86vh;
}

#profile .profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#profile p {
    font-size: 25px;
}

#profile .profile-pic {
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 3%;
}

#profile .profile-pic img {
 width: 100%;
 height: auto;
}

.profile-box {
    margin: 20px;
    border: 1px solid #5a86ba;
    border-radius: 1em;
    padding: 50px;
    width: 30%;
    
}
