
.send-mail-form {
    backdrop-filter: blur(40px);
    border-radius: 10px;
    width: 20%;
    padding: 1em;
    margin-top: 5em;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.7);
    border: 1px solid #00003e;
}

.send-mail-form input {
    background-color: white;
    border-radius: 20px;
}

