.register-forms, .login-forms {
	backdrop-filter: blur(40px);
}

.register-button {
	background-color: #00003e;
	border-color: #00003e;
}
.no-account-button {
	color: #00003e;
}
.no-account-button::hover {
	color: white;
	
}

.login-register-input {
	background-color: white;
	width: 100%;	
}