body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#sidebar h1 {
    color: #00003e;
    font-size: 2em;
    padding: 0.5em;
    border-bottom: 0.02em solid #00003e;
}

#sidebar {
    width: 15%;
    position: absolute;
    background-color: rgba(255,255,255,.7);
    color: black;
    border: 0.5px solid #00003e;
    border-radius: 10px;
    top: 15%;
    left: 2%;
}

#sidebar a {
    padding: 0.3em;
    margin-left: 0.3em;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    display: block;
    transition: color 0.3s, transform 0.3s;
}

#sidebar a:hover {
    color: #00003e;
    transform: scale(1.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.search-box {
    display: flex;
    border-radius: 1em;
    width: 50%;
}

.search-input { 
    border: 1px solid #00003e; 
    background-color: transparent;
    border-radius: 1em;
    padding: 0.5em;
    width: 100%;
}

.search-button {
    background-color: #f0f3f5;
    color: #00003e;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: transparent;
    color: white;
}




/* Responsive styles */
@media only screen and (max-width: 768px) {
    #sidebar {
        display: none; /* Hide the sidebar on smaller screens */
    }
    .search-box {
        width: 100%; /* Adjust the width of the search box */
    }
    .header-container {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-end; /* Align items to the right */
    }
}


.button-signin, .button-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00003e;
    color: #f0f3f5;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 40px;
    margin-bottom: 0.5em;
}

.button-signin a {
    text-decoration: none;
    color: #f0f3f5;
}

.button-signin:hover, .button-profile:hover {
    background-color: #00003e;
    color: white;
}


#form-logo{
    margin-bottom: 0.5em;
}

#topics{
    background-color: transparent;
    border: none;
    color: #00003e;
    font-size: 1.3em;
    transition: color 0.3s, transform 0.3s;

}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#topics:hover{
    color: #00003e;
    transform: scale(1.1);

}

#sidebar.active{
    
}